/* Estilos para la página de confirmación */
.confirmacion {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background-color: #f8f9fa;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .confirmacion h1 {
    color: #004085;
    border-bottom: 2px solid #004085;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .confirmacion p {
    font-size: 16px;
    line-height: 1.6;
  }
  
  /* Oculta el formulario original después de enviar */
  .form-oculto {
    display: none;
  }
  
  /* Estilos para los datos del formulario */
  .datos-formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .datos-formulario div {
    display: flex;
    flex-direction: column;
  }
  
  /* Estilo para los nombres de campos y valores */
  .nombre-campo {
    font-weight: bold;
  }
  
  .valor-campo {
    padding-left: 10px;
  }
  